h2o==3.40.0.3
Keras
lightgbm
mlflow==2.4.1
nltk
plotly
polars
psmpy
scikit-learn
shap
statsmodels
tensorboard
tensorflow
torchaudio
torchsummary
tqdm
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability